<p id="notice"><%= notice %></p>

<p>
  <b>Mobile:</b>
  <%= @deliver.mobile %>
</p>

<p>
  <b>Servicecode:</b>
  <%= @deliver.servicecode %>
</p>

<p>
  <b>Spnumber:</b>
  <%= @deliver.spnumber %>
</p>

<p>
  <b>Message:</b>
  <%= @deliver.message %>
</p>

<p>
  <b>Pktotal:</b>
  <%= @deliver.pktotal %>
</p>

<p>
  <b>Responsecode:</b>
  <%= @deliver.responsecode %>
</p>

<p>
  <b>Responseinfo:</b>
  <%= @deliver.responseinfo %>
</p>

<p>
  <b>Replybody:</b>
  <%= @deliver.replybody %>
</p>


<%= link_to 'Edit', edit_deliver_path(@deliver) %> |
<%= link_to 'Back', delivers_path %>
