<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">

			<!--
			<a href="#" class="brand">动感短信</a>
			-->
			
			<div class="btn-group pull-right">
				<a href="#" data-toggle="dropdown" class="btn dropdown-toggle">
					<i class="icon-user"></i> <%= @current_user.name %>
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/users/<%= @current_user.id %>/profile">个人资料</a>
						<%= link_to '我的信息', edit_user_path(@current_user) %>
					</li>
					<li class="divider"></li>
					<li>
						<%= link_to '退出系统', logout_path, :method => :delete %>
					</li>
				</ul>
			</div>

			<div class="nav-collapse">
				<ul class="nav">
					<li>
						<%= link_to("收件箱", delivers_path) %>
					</li>
					<li>
						<%= link_to("发件箱", submits_path) %>
					</li>
					<li>
						<%= link_to("已发送", submits_path) %>
					</li>
					<li class="divider-vertical"></li>
					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							发短信
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<%= link_to("任务管理", bulks_path) %>
							</li>
							<li>
								<%= link_to("新建任务", new_bulk_path) %>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							设置
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<% if @current_user && @current_user.admin? %>
								<li>
									<%= link_to(users_path) do %>
										 用户
									<% end %>
								</li>
							<% end %>	
							
							<% if @current_user && @current_user.admin? %>
								<li>
									<%= link_to(sms_gateways_path) do %>
										网关
									<% end %>
								</li>
								<li>
									<%= link_to(whitelists_path) do %>
										白名单
									<% end %>
								</li>
							<% end %>	

							<li>
								<%= link_to(charges_path) do %>
									充值
								<% end %>
							</li>
						</ul>
					</li>
				</ul>	
			</div>	
		</div>
	</div>
</div>
