<p id="notice"><%= notice %></p>

<p>
  <b>Serviceid:</b>
  <%= @submit.serviceid %>
</p>

<p>
  <b>Feetype:</b>
  <%= @submit.feetype %>
</p>

<p>
  <b>Feecode:</b>
  <%= @submit.feecode %>
</p>

<p>
  <b>Spnumber:</b>
  <%= @submit.spnumber %>
</p>

<p>
  <b>Mobile:</b>
  <%= @submit.mobile %>
</p>

<p>
  <b>Message:</b>
  <%= @submit.message %>
</p>

<p>
  <b>Linkid:</b>
  <%= @submit.linkid %>
</p>


<%= link_to 'Edit', edit_submit_path(@submit) %> |
<%= link_to 'Back', submits_path %>
