<% content_for :title do %>
	<%= "白名单" %>
<% end %>

<div class="row-fluid">
	<h1 class="page-header">白名单
		  <%= link_to '新建白名单', new_whitelist_path, :class => "pull-right btn btn-primary" %> 
	</h1>
</div>

<%= render(:partial => "shared/notice", :locals => {:notice => notice}) %>

<div class="row-fluid">
	<%= form_tag("/search", :class => "form-search") do %>
		<%= telephone_field_tag :telephone, "", :class => "input-medium search-query", :placeholder => "15811080221" %>
		<%= submit_tag("搜索") %>
	<% end %>	
</div>
	
<div class="row-fluid">
	<ul class="nav nav-pills">
		<li><%= link_to "全部 (" + Whitelist.count().to_s + ")", whitelists_path %> </li>
		<% Whitelist.uniq.pluck(:gw_id).each do |gwid|%>
			<% if gwid && SmsGateway.find_by_id(gwid) %>
				<li><%= link_to SmsGateway.find_by_id(gwid).try(:name) + "(" + Whitelist.where(:gw_id => gwid).count().to_s + ")", whitelists_path(:gw_id => gwid) %></li>
			<% end %>	
		<% end %>	
	</ul>
</div>

<div class="row-fluid">
	<table class="table table-bordered table-condensed">
		<thead>
		  <tr>
			<th>网关</th>
			<th>手机号码</th>
			<th>导入时间</th>
			<th>更新时间</th>
			<th>操作栏</th>
		  </tr>
		</thead>
		
		<tbody>
			<% @whitelists.each do |wl| %>
			  <tr>
				<td><%= link_to SmsGateway.find_by_id(wl.gw_id).try(:name), whitelists_path(:gw_id => wl.gw_id), { :class => "btn btn-mini btn-info"} %></td>
				<td><%= wl.telephone %></td>
				<td><%= l wl.created_at, :format => :long %></td>
				<td><%= l wl.updated_at, :format => :long %></td>
				<td>
					<%= link_to('删除', whitelist_path(wl), :method => :delete, :class => 'btn btn-mini btn-danger') %>
				</td>
			  </tr>
			<% end %>
		</tbody>	
	</table>

	<p><%= will_paginate @whitelists %></p>
</div>	

<br />